extends ./layout.pug

block contenido
  form(action="/users", method="POST")
    div(class="form-group")
      label(for="email") Email
      input(type="text", name="email", placeholder="Email", class="form-control", required)
    br
    div(class="form-group")
      label(for="password") Password
      input(type="password", name="password", class="form-control", required)
    div
      input(type="submit", value="Iniciar Sesión", class="btn btn-info")
